<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>KTZL |
            {{ title }}</title>

        <!-- Bootstrap core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/css/modern-business.css" rel="stylesheet">

        <!-- Footer -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">Karma Tekchen Zabsal Ling</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/posts">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/events">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/schedule">Schedule</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Practices</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                <a class="dropdown-item" href="/practices/morning-puja">Morning Puja</a>
                                <a class="dropdown-item" href="/practices/mahakala-puja">Mahakala Puja</a>
                                <a class="dropdown-item" href="/practices/medicine-buddha">Medicine Buddha</a>
                                <a class="dropdown-item" href="/practices/white-tara">White Tara</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/gallery">Gallery</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Office</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                <a class="dropdown-item" href="/contact">Contact</a>
                                <a class="dropdown-item" href="/office/meal-offering">Meal Offering</a>
                                <a class="dropdown-item" href="/office/prayer-offerings">Prayer Offerings</a>
                                <a class="dropdown-item" href="/office/donate">Donate</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}
            {{ content | safe }}
        {% endblock content %}

        <!--footer-->
        <footer class="kilimanjaro_area">
            <!-- Top Footer Area Start -->
            <div class="foo_top_header_one section_padding_100_70">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="kilimanjaro_part ml-3">
                                <h5>About Us</h5>
                                <p>This website is dedicated to Lama Tashi Dondup and The Kagyu Lineage. Our Aims are :
                                    <br>
                                    Encourage the study and practice of Buddhism.
                                    <br>
                                    Offer teachings and instructions on practices based on great masters of the Kagyu Lineage of Tibetan Buddhism.
                                    <br>
                                    Provide a place for taking refuge, and developing and strengthening our aspiration to live a meaningful life along the Buddhist path.
                                    <br>
                                    Support projects undertaken by masters of the Kagyu lineage worldwide.
                                    <br>
                                    Through this site, we hope to connect with all students of Lama Tashi worldwide and to anyone who is interested to learn more about Tibetan Buddhism.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="kilimanjaro_part ml-3">
                                <h5>Important Links</h5>
                                <ul class="kilimanjaro_links">
                                    <li>
                                        <a href="https://kagyuoffice.org/" target="-blank">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>H.H.17th Gyalwang Karmapa</a>
                                    </li>
                                    <li>
                                        <a href="http://www.rinpoche.com/" target="-blank">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>V.V. Khenchen Thrangu Rinpoche</a>
                                    </li>
                                    <li>
                                        <a href="https://kagyuoffice.org/" target="-blank">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>Karmapa</a>
                                    </li>
                                    <li>
                                        <a href="https://kagyuoffice.org/" target="-blank">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>Karmapa</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="kilimanjaro_part m-top-15 ml-3">
                                <h5>Social</h5>
                                <ul class="kilimanjaro_social_links">
                                    <li>
                                        <a href="https://www.facebook.com/ktzl.org/" target="_blank">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                            Facebook</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="kilimanjaro_part ml-3">
                                <h5>Latest News</h5>

                                {% for post in collections.posts %}
                                    <div class="kilimanjaro_blog_area">
                                        <div class="kilimanjaro_thumb">
                                            <img class="img-fluid" src="{{ post.data.card_img_home }}" alt="">
                                        </div>
                                        <a href="{{ post.url }}">{{ post.data.card_title }}</a>
                                        <p class="kilimanjaro_date">21 Jan 2018</p>
                                        <p>{{ post.data.card_article | truncate(50) }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="kilimanjaro_part ml-3">
                                <h5>Quick Contact</h5>
                                <div class="kilimanjaro_single_contact_info">
                                    <h5>Phone:</h5>
                                    <p>
                                        {{ settings.phone }}
                                    </p>
                                </div>
                                <br>
                                <div class="kilimanjaro_single_contact_info">
                                    <h5>Email:</h5>
                                    <p>{{ settings.email }}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom Area Start -->
            <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <p>© All Rights Reserved by KTZL 2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/jquery.slim.min.js"></script>
        <script src="/vendor/bootstrap.min.css"></script>
        <!--Footer JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>

</html>